body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    filter: drop-shadow(5px 5px);
    transition: all 0.3s ease;
    transform-origin: center;
}

.avatar:hover {
    transform: scale(1.05); /* Similar to the vision board hover effect */
    filter: drop-shadow(7px 7px); /* Increased shadow on hover */
    cursor: pointer;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #9D79BC;
    color: #2b2839;
    border-bottom: 8px solid #8CA0D7;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

